<launch>

    <!--启动ORB-SLAM3 stereo respawn="true" 如果该节点启动不成功会再次尝试启动-->
    <node name ="rgbd_node" pkg="rgbd_align" type="rgbd_node" output="screen">
        <param name="VOC" value="$(find rgbd_align)/Vocabulary/orbvoc.dbow3" type="str" />
    </node>
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find rgbd_align)/launch/default.rviz"/>

<!--    <node name="rosbag" pkg="rosbag" type="play" output="log" args="/home/qzj/2021-02-25-18-10-13.bag" />-->

<!--    <include-->
<!--             file="$(find astra_launch)/launch/astra.launch">-->
<!--    </include>-->

</launch>
